.card-container {
    margin: 0 auto;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.userpic {
    width: 50px;
}

.post-title {
    color: #0055c4;
}

svg {
    width: 16px;
    cursor: pointer;
}